.depoimento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: orange;
    overflow: hidden;
}

.depoimento img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.depoimento-conteudo{
    padding: 40px 40px 80px 80px;
    align-self: self-end;
}

.depoimento-conteudo p{
    font-style: italic;
    font-weight: 900;
    margin-bottom: 32px;
    max-width: 32px;
}

.depoimento p::before{
    content: '"';
    font-size: 2rem;
}
.depoimento p::after{
    content: '"';
    font-size: 2rem;
}

@media(max-width:800){
    
    .depoimento{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .depoimento img{
        width: 200px;
    }
    .depoimento-conteudo{
        padding: 40px 20px;
        justify-self: center;
    }

}