
@media(max-width: 1200px){
    .introducao h1{
        font-size: 48px;
    }
}

@media(max-width: 800px){
    .introducao{
        grid-template-columns: 1rf;
        gap: 32px;
    }
    
    .introducao h1{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao-conteudo{
        padding-bottom: 0px;
    }
    .introducao img{
        height: 300px;
    }
}